body{
	font-family:"Verdana",sans-serif;
}

#search-field{
	min-width:250px;
	padding:3px;
}
p{
	color:#b5b5b5;
}
#query-keys-bar{
	color:white;
	background-color: #c4c4c4;
}
h1{
	text-align: center
}
#keys{
	display: none;
}
pre{
	margin: 0px
}
#loading{
	animation: spin infinite 1s linear;
	width:20px;
	height:20px;
	font-style: bold;
	font-size:200px;
	display:none;
}
#main{
	padding: 10px;
	position: absolute;
    top:0;
    max-width:600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#display{
	overflow: auto
}
.button{
	margin:3px;
	padding: 3px;
	display: inline-block;
	border: 1px solid #a4a4af;
	cursor:pointer;
	color:black;
	border-radius: 5px;
}
.button:hover{
	background-color: #a4a4af;
	color:white;
}

#download-link{
	color:inherit;
  	text-decoration: none; /* no underline */
}
span{
	font-weight: bold;
}
#state-box{ 
	font-style: normal;
	font-weight: normal;
	color:#b5b5b5;
	font-size: 14px;
}


@keyframes spin {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}